html, button, input, select, textarea, .pure-g [class *= "pure-u"] {font-family: 'Source Sans Pro', sans-serif;color:#222}
a{color:#1f8dd6;text-decoration:none;}
.mute{color:#aaa;text-decoration:none;}
.plus05{padding:.5em}
.plus1{padding:1em}
.plus1h{padding-left:1em;padding-right:1em}
.plus2{padding:2em}
.l-pad1{padding-left:1em}
.header{background:#4f5757;}
.wt{color:#fff;}
.mw{max-width:80em; margin:0 auto}
.header a{text-transform:uppercase;text-decoration:none;color:#fff}
.footer,.footer a{color:#fff;text-decoration:none;background:#4f5757}
.right{text-align:right;}
.center{text-align: center;}
.box{position:relative;}
.drop{position:absolute; bottom:1em;}
body,html{margin:0;padding:0;height:100%;font-size:1.05em}
.fullscreen{min-height:100%;height:auto!important;height:100%;margin:0 auto -196px}
.floor,.footer{height:196px}
.primary-button{background:#1f8dd6;color:#fff}
.grey{background:#efefef;border-bottom:1px solid rgba(0,0,0,.1);min-height: 12em;}
.gry{background-color: #DDD !important;}
.gryc{color: #DDD !important;}
.gry-line{border-right-color: #DDD;
    border-right-width: 20px;
    border-right-style:solid;}
.grn{background-color: #7fcba4 !important;}
.grnc{color: #7fcba4 !important;}
.grn-line{border-right-color: #7fcba4;
    border-right-width: 20px;
    border-right-style:solid;}
.amb{background-color: #fac090 !important;}
.ambc{color: #fac090 !important;}
.amb-line{border-right-color: #fac090;
    border-right-width: 20px;
    border-right-style:solid;}
.red{background-color: #c99391 !important;}
.redc{background-color: #c99391 !important;}
.red-line{border-right-color: #c99391;
    border-right-width: 20px;
    border-right-style:solid;}