html {overflow-y: scroll; overflow: -moz-scrollbars-vertical;} 
body, html, button, input, select, textarea,.pure-g [class *= "pure-u"] {font-family: 'Source Sans Pro', sans-serif; font-size:1.1em;}
p {font-size:1.3em;}
a{color:#1f8dd6;text-decoration:none;}
.rt{float:right; position:fixed;right:2em; z-index: 1000;}
.ctr{text-align:center;}
.ctri{ margin-left: auto; margin-right: auto;}
.pure-button-primary{background-color:#1f8dd6;}
.slide{position:absolute; margin:auto 0; width:100%;}
.start{position:fixed;top:33%; left:43%; font-size: 2.5em;}
.spacer{height:14em;}

.slide.ng-enter{
	animation-name: InU;
	-webkit-animation-name: InU;	

	animation-duration:1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
}

.slide.ng-leave {
animation-name: OutD;
	-webkit-animation-name: OutD;	

	animation-duration: 0.8s;
	-webkit-animation-duration: 0.8s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
}


@keyframes InU {
	0% {transform: translateY(-100%); opacity:0;}
	100% {transform: translateY(0%); opacity:1;}
}

@-webkit-keyframes InU {
	0% {-webkit-transform: translateY(-100%); opacity:0;}	
	100% {-webkit-transform: translateY(0%); opacity:1;}
}

@keyframes OutD {
	0% {transform: translateY(0%);opacity:0.5;}
	100% {transform: translateY(100%);opacity:0;}
}

@-webkit-keyframes OutD {
	0% {-webkit-transform: translateY(0%);opacity:0.5;}	
	100% {-webkit-transform: translateY(100%);opacity:0;}
}
