<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" value="none">
    <link rel="shortcut icon" href="/img/h.png">
    <title>Parish Profiles</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/s.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.32/angular-touch.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="js/angles.js"></script>
</head>

<body ng-cloak>
    <div ng-controller="AppCtrl">

        <div ng-repeat="d in data | filter:{n:selected}:true | limitTo:1">



            <div class="header grey">
<div class="content">
<span class="dropdown pull-left">
  <a class="dropdown-toggle pure-button pure-button-primary" href="#">Select a Parish</a>
<ul ng-model="indexer" class="dropdown-menu pure-menu">
                    <li ng-repeat="d in data">
                        <a ng-click="[autoselect(d.n, $index)]" href="">{{d.c}}</a>
                    </li>
                </ul>
</span>
                
<h1 class="mute ctr">{{d.c}}</h1>
            </div>  </div>
            <div class="content">

                <div class="pure-g">
                    <div class="pure-u-1 ctr">
                        <p>At a glance statistics about the parish of {{d.c}}, from Census 2011 data</p>
                    </div>
                </div>

                <div class="pure-g-r">
                    <div class="pure-u-1-3">
                        <h2 class="ctr mute">Summary</h2>
                        <table class="pure-table pure-table-horizontal spanner">
                            <tbody>
                                <tr>
                                    <td>Total number of residents</td>
                                    <td>
                                        <strong>{{d.pop}}</strong>
                                    </td>
                                </tr>
                                <tr>

                            </tbody>
                        </table>
                        <div class="pure-g">
                            <div class="pure-u-1-2 ctr">
                                <p>Males:
                                    <strong>{{d.males}}</strong>
                                    <br />Females:
                                    <strong>{{d.females}}</strong>
                                </p>
                            </div>
                            <div class="pure-u-1-2 ctr">
                                <canvas piechart data="chart[indexer]" options="options" width="100" height="100"></canvas>
                            </div>
                        </div>

                        <table class="pure-table pure-table-horizontal spanner">
                            <tbody>
                                <tr>
                                <td>Total number of households</td>
                                <td>
                                    <strong>{{d.hholds}}</strong>
                                </td>
                                </tr>
                                <tr>
                                    <td>Area in Hectares</td>
                                    <td>
                                        <strong>{{d.area}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Density (number of persons per hectare)</td>
                                    <td>
                                        <strong>{{d.density}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>



                    <div class="pure-u-1-3 ctr">
                        <h2 class="mute">Age profile</h2>
                        <p>
                            <canvas barchart data="bchart[indexer]" options="befaults" width="200" height="250"></canvas>
                        </p>
                    </div>
                    <div class="pure-u-1-3">
                        <h2 class="ctr mute">Household Tenure</h2>
                        <table class="pure-table pure-table-horizontal spanner">
                            <tbody>
                                <tr>
                                    <td>Owned: Total</td>
                                    <td>
                                        <strong>{{d.ownO+d.ownM}}</strong>
                                        <td>
                                            <em class="blu">{{((d.ownO+d.ownM)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                                </tr>

                                <tr class="mute">
                                    <td>Owned outright:
                                    </td>
                                    <td>
                                        <strong>{{d.ownO}}</strong>
                                        <td>
                                            <em>{{((d.ownO)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                     
                                </tr>
                                <tr class="mute">
                                    <td>Owned with a mortgage or loan
                                    </td>
                                    <td>
                                        <strong>{{d.ownM}}</strong>
                                        <td>
                                            <em>{{((d.ownM)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                                </tr>
                                <tr>
                                    <td>Shared ownership
                                    </td>
                                    <td>
                                        <strong>{{d.share}}</strong>
                                        <td>
                                            <em class="blu">{{((d.share)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                                </tr>
                                <tr>
                                    <td>Social rented
                                    </td>
                                    <td>
                                        <strong>{{d.rentS}}</strong>
                                        <td>
                                            <em class="blu">{{((d.rentS)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                                </tr>
                                <tr>
                                    <td>Private rented
                                    </td>
                                    <td>
                                        <strong>{{d.rentP}}</strong>
                                        <td>
                                            <em class="blu">{{((d.rentP)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                                </tr>
                                <tr>
                                    <td>Living rent free
                                    </td>
                                    <td>
                                        <strong>{{d.rentF}}</strong>
                                        <td>
                                            <em class="blu">{{((d.rentF)/d.hholds)*100 | number:0}}%</em>
                                        </td>
                                </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
                <div class="pure-g-r">

                    <div class="pure-u-1-3">
                        <h2 class="ctr mute">Method of travel to work</h2>
                        <table class="pure-table pure-table-horizontal spanner">
                            <tbody>
                                <tr>
                                    <td>Work from home
                                    </td>
                                    <td>
                                        <strong>{{(d.ttwWfh/d.ttw)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ttwWfh}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>Train
                                    </td>
                                    <td>
                                        <strong>{{(d.ttwT/d.ttw)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ttwT}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>Bus, minibus or coach
                                    </td>
                                    <td>
                                        <strong>{{(d.ttwB/d.ttw)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ttwB}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>Driving a car or van
                                    </td>
                                    <td>
                                        <strong>{{(d.ttwC/d.ttw)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ttwC}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>Passenger in a car or van
                                    </td>
                                    <td>
                                        <strong>{{(d.ttwP/d.ttw)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ttwP}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>On foot
                                    </td>
                                    <td>
                                        <strong>{{(d.ttwF/d.ttw)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ttwF}})
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pure-u-1-3 ctr">
                        <h2 class="mute">Car or van availability</h2>

                        <p>
                            Total number of cars or vans in the area
                            <br />
                            <strong>{{d.carT}}</strong>
                            <br /></p>
                            <h3 class="mute">Households with:</h3>
                          <p>  No cars or vans
                            <strong>{{d.car0}}</strong>
                            <br />1 car/van
                            <strong>{{d.car1}}</strong>
                            <br />2 cars/vans
                            <strong>{{d.car2}}</strong>
                            <br />3 or more cars/vans
                            <strong>{{d.car3}}</strong>
                        </p>
                    </div>
                    <div class="pure-u-1-3 ">
                        <h2 class="ctr mute">Household composition</h2>
                        <table class="pure-table pure-table-horizontal spanner">
                            <tbody>
                                <tr>
                                    <td>1 person
                                    </td>
                                    <td>
                                        <strong>{{((d.ph1)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph1}})
                                    </td>
                                </tr>
                                <tr class="mute">
                                    <td>&nbsp;
                                        <em>(of which, over 65)</em>
                                    </td>
                                    <td>
                                        <strong>{{((d.ph1o65)/d.ph1)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph1o65}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>2 people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph2)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph2}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>3 people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph3)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph3}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>4 people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph4)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph4}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>5 people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph5)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph5}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>6 people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph6)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph6}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>7 people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph7)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph7}})
                                    </td>
                                </tr>
                                <tr>
                                    <td>8 or more people
                                    </td>
                                    <td>
                                        <strong>{{((d.ph8)/d.hholds)*100 | number:0}}%</strong>
                                    </td>
                                    <td>({{d.ph8}})
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="pure-u-1 bx2">
                        &nbsp;
                    </div>
                </div>
                <div class="pure-g-r">
                    <div class="pure-u-1 grey bx2">
                        <h2>Population health</h2>
                    </div>
                </div>
                <div class="pure-g-r">
                    <div class="pure-u-1-3 ctr">
                        <h2 class="mute">General health</h2>
                        <p>Very good health:
                            <strong>{{(d.health4/d.pop)*100 | number:0}}%</strong>
                            <br />Good health:
                            <strong>{{(d.health3/d.pop)*100 | number:0}}%</strong>
                            <br />Fair health:
                            <strong>{{(d.health2/d.pop)*100 | number:0}}%</strong>
                            <br />Bad health:
                            <strong>{{(d.health1/d.pop)*100 | number:0}}%</strong>
                            <br />Very bad health:
                            <strong>{{(d.health0/d.pop)*100 | number:0}}%</strong>
                        </p>
                    </div>
                    <div class="pure-u-1-3 ctr">
                        <h2 class="mute">Long term health</h2>
                        <p>Day-to-day activities limited a lot:
                            <strong>{{(d.lth0/d.pop)*100 | number:0}}%</strong>
                            <br />Day-to-day activities limited a little:
                            <strong>{{(d.lth1/d.pop)*100 | number:0}}%</strong>
                            <br />Day-to-day activities not limited:
                            <strong>{{(d.lth2/d.pop)*100 | number:0}}%</strong>
                        </p>
                    </div>
                    <div class="pure-u-1-3 ctr">
                        <h2 class="mute">Provision of unpaid care</h2>
                        <p>Provides no unpaid care:
                            <strong>{{(d.care0/d.pop)*100 | number:0}}%</strong>
                            <br />Provides 1 to 19 hours a week:
                            <strong>{{(d.care1/d.pop)*100 | number:0}}%</strong>
                            <br />Provides 20 to 49 hours a week:
                            <strong>{{(d.care2/d.pop)*100 | number:0}}%</strong>
                            <br />Provides 50 or more hours a week:
                            <strong>{{(d.care3/d.pop)*100 | number:0}}%</strong>
                            <br />
                        </p>
                    </div>
                </div>
                <div class="pure-g-r">
                    <div class="pure-u-1 grey bx2">
                        <h2>Economic Activity</h2>
                        <p class="mute">{{d.ea}} people are aged between 16 and 74 in the parish
                            <br />Representing {{(d.ea/d.pop)*100 | number:0}}% of the population in {{d.c}}</p>
                    </div>
                </div>
                <div class="pure-g-r">
                    <div class="pure-u-1-2 ctr">
                        <h2 class="mute">Economically active</h2>
                        <p>All economically active:
                            <strong>{{((d.eaT)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eaT}})
                            <br /></p>
                            <hr /><p>Employee: Part-time:
                            <strong>{{((d.eaTft)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eaTft}})
                            <br />Employee: Full-time:
                            <strong>{{((d.eaTpt)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eaTpt}})
                            <br />Self-employed All:
                            <strong>{{((d.eaSe)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eaSe}})
                            <br />Unemployed:
                            <strong>{{((d.r1052)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.r1052}})
                            <br />Full-time student:
                            <strong>{{((d.r1053)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.r1053}})
                            <br />
                        </p>
                    </div>
                    <div class="pure-u-1-2 ctr">
                        <h2 class="mute">Economically inactive</h2>
                        <p>All economically inactive:
                            <strong>{{((d.eiT)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eiT}})
                            <br /></p>
                            <hr /><p>Retired:
                            <strong>{{((d.eiR)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eiR}})
                            <br />Student (including full-time students):
                            <strong>{{((d.eiS)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eiS}})
                            <br />Looking after home or family:
                            <strong>{{((d.eiH)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eiH}})
                            <br />Long-term sick or disabled:
                            <strong>{{((d.eiD)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eiD}})
                            <br />Other:
                            <strong>{{((d.eiO)/d.ea)*100 | number:0}}%</strong>&nbsp;({{d.eiO}})
                            <br />
                        </p>
                    </div>
                </div>
      <div class="header grey">
<div class="content">
               
<small class="mute">Data sources: <a href="http://www.nomisweb.co.uk/census/2011">census 2011</a></small>
            
          </div>  
                </div>
    <script src='js/app.js'></script>
            </div>
        </div>
    </div>
</body>
</html>
