.quickdate {
  display: inline-block;
  position: relative;
}
.quickdate-button div,
.quickdate-action-link div {
  display: inline;
}
.quickdate-popup {
  z-index: 10;
  background-color: #fff;
  border: 0px;
  text-align: center;
  width: 270px;
  display: none;
  position: absolute;
  padding: 5px;
}
.quickdate-popup.open {
  display: block;
}
.quickdate-close {
  position: absolute;
  top: 5px;
  right: 0px;
  color: #ccc;
  margin-top: -6px;
  text-decoration: none;
}
.quickdate-close:hover {
  text-decoration: none;
}
.quickdate-close:hover,
.quickdate-close:visited {
  color: #ccc;
}
.quickdate-calendar-header {
  display: block;
  padding: 0px 0px;
  text-align: center;
}
.quickdate-month {
  padding-top: 6px;
  display: inline-block;
}
a.quickdate-prev-month {
  float: left;
}
a.quickdate-next-month {
  float: right;
}
.quickdate-text-inputs {
height:1px;
}
.quickdate-input-wrapper {
  width: 0%;
  height: 1px;
  display: inline-block;
}
input.quickdate-date-input,
input.quickdate-time-input {
  width: 0px !important;
  margin: 0 !important;
  height: 1px !important;
  padding: 0px 0px !important;
  border: 0px !important;
  -webkit-box-shadow: 0px 0px 0px rgba(25, 25, 25, 0.92) !important;
  -moz-box-shadow: 0px 0px 0px rgba(25, 25, 25, 0.92) !important;
  box-shadow: 0px 0px 0px rgba(25, 25, 25, 0.92) !important;
}
table.quickdate-calendar {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 5px;
}
table.quickdate-calendar th,
table.quickdate-calendar td {
  padding: 5px;
}
table.quickdate-calendar td:hover {
  cursor: pointer;
}
.quickdate-popup-footer {
  text-align: right;
  display: block;
}
.quickdate input.ng-invalid {
  border: 0px solid #dd3b30;
}
.quickdate input.ng-invalid:focus {
  outline-color: #eee;
}







.quickdate {
  display: inline-block;
  vertical-align: bottom;
  font-size: 15px;

}
.quickdate input,
.quickdate select {
  font-size: 13px;
}
.quickdate-button {
  background: #ffffff;
  color: #333333;
  border: solid 1px #cccccc;
  box-shadow: outset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 4px 8px;
  display: inline-block;
  text-decoration: none;
}
.quickdate-button:hover {
  text-decoration: none;
}
.quickdate-button:hover i {
  text-decoration: none;
}
.quickdate-button i {
  padding-right: 4px;
}
.quickdate-popup {
  color: #333333;
  font-size: 15px;
  background-color: #fafafa;
  border: 0px #dddddd;
  -webkit-box-shadow: 0px 0px 15px rgba(25, 25, 25, 0.5);
  -moz-box-shadow: 0px 0px 15px rgba(25, 25, 25, 0.5);
  box-shadow: 0px 0px 15px rgba(25, 25, 25, 0.5);
}
.quickdate-action-link:visited,
.quickdate-action-link:hover {
  color: #ccc;
}
.quickdate-next-month i {
  padding-left: 10px;
}
.quickdate-prev-month i {
  padding-right: 10px;
}
table.quickdate-calendar {
  border: solid 1px #eee;
  background-color: #ffffff;

}

table.quickdate-calendar th{background-color: #FAFAFA; color: #ccc;}

table.quickdate-calendar th,
table.quickdate-calendar td {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
table.quickdate-calendar td:hover {
  background-color: #b0ccde;
}
table.quickdate-calendar td.other-month {
  background-color: #FAFAFA;
  color: #eee;
  cursor: default;
}
table.quickdate-calendar td.other-month:hover {
  background-color: #FAFAFA;
  cursor: default;
}
table.quickdate-calendar td.disabled-date {
  background-color: inherit;
  color: #ffffff;
}
table.quickdate-calendar td.disabled-date:hover {
  background-color: inherit;
  cursor: default;
}
table.quickdate-calendar td.selected {
  background-color: #b0ccde;
  font-weight: bold;
}
table.quickdate-calendar td.is-today {
  color: #b58922;
  font-weight: bold;
}
table.quickdate-calendar td.is-today.disabled-date {
  color: #929292;
  font-weight: normal;
}

